* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: poppins;
}

body .header {
  height: 100px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  background: white;
}

body .header .header-logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

body .header .header-Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .header-Links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .header .header-Links ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #807d7d;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

body .header .header-Links ul li a:not([class="border-link"])::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  left: 0px;
  bottom: -2px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

body .header .header-Links ul li .border-link {
  height: 45px;
  padding: 0px 13px;
  border: 2px solid black;
  color: black;
}

body .header .header-Links ul #active-link a {
  color: black;
}

body .header .header-Links ul #active-link a:not([class="border-link"])::after {
  width: 100%;
}

body .header .side-nav {
  position: fixed;
  height: 100vh;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  width: 100%;
  max-width: 350px;
  top: 100px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body .header .side-nav ul {
  width: 100%;
  list-style: none;
  padding: 0px 20px;
}

body .header .side-nav ul li {
  margin-top: 20px;
}

body .header .side-nav ul li a {
  font-size: 1.1rem;
  color: #807d7d;
  position: relative;
}

body .header .side-nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  left: 0px;
  bottom: -4px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

body .header .side-nav ul #active-link a {
  color: black;
}

body .header .side-nav ul #active-link a::after {
  width: 100%;
}

body .header .mobile-btn {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .header .mobile-btn button {
  font-size: 1.5rem;
  padding: 0px;
  border: none;
}

body .page-sections {
  padding-top: 100px;
  min-height: calc(100vh);
}

body .page-sections .page-banner {
  height: calc(100vh - 100px);
  background: #404F90;
}

body .page-sections .page-banner .banner-container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-sections .page-banner .banner-container .banner-description h1 {
  color: white;
  letter-spacing: 7px;
  font-size: 3rem;
}

body .page-sections .page-banner .banner-container .banner-description p {
  font-size: 1.1rem;
  color: #c7c5c5;
  font-weight: 500;
}

body .page-sections .page-banner .banner-container .banner-description .banner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

body .page-sections .page-banner .banner-container .banner-description .banner-button button {
  height: 50px;
  border: none;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

body .page-sections .page-banner .banner-container .banner-description .banner-button button:hover {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .page-sections .page-banner .banner-container .banner-description .banner-button .register-button {
  background: #FFA500;
}

body .page-sections .page-banner .banner-container .banner-description .banner-button .login-button {
  margin-left: 15px;
  background: #FF0000;
}

body .page-sections .page-why-to-choose-us {
  background: white;
  padding: 40px;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .page-sections .page-why-to-choose-us .content {
  width: 30%;
  font-size: 1.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .page-sections .page-why-to-choose-us .content .content-icon {
  width: 70px;
  height: auto;
  margin-right: 20px;
}

body .page-sections .page-why-to-choose-us .content .content-icon .icon {
  position: relative;
  font-size: 2.1rem;
  color: white;
  width: 70px;
  height: 70px;
  background: #404F90;
  border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-sections .page-why-to-choose-us .content .content-icon .icon::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: -5px;
  background: #3d59e8;
  opacity: 0.2;
  border-radius: 50%;
}

body .page-sections .page-why-to-choose-us .content .content-description {
  width: auto;
}

body .page-sections .page-service {
  background: #F5F7FD;
  padding: 100px 0px;
}

body .page-sections .page-service h4,
body .page-sections .page-service h1 {
  text-align: center;
}

body .page-sections .page-service h4 {
  color: #3D59E8;
  font-size: 1.1rem;
}

body .page-sections .page-service h1 {
  margin-top: 10px;
  font-size: 2.4rem;
  color: #404F90;
}

body .page-sections .page-service .service-container .content {
  padding: 30px 20px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  border-radius: 5px;
}

body .page-sections .page-service .service-container .content .content-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #F5F7FD;
}

body .page-sections .page-service .service-container .content h3 {
  font-size: 1.1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

body .page-sections .page-service .service-container .content h3,
body .page-sections .page-service .service-container .content p {
  text-align: center;
  margin-top: 10px;
}

body .page-sections .page-about {
  padding: 80px 0px;
}

body .page-sections .page-about .page-about-container .page-about-description h3 {
  color: #3D59E8;
}

body .page-sections .page-about .page-about-container .page-about-description h1 {
  color: #404F90;
  margin-top: 20px;
}

body .page-sections .page-about .page-about-container .page-about-description p {
  font-size: 1.05rem;
  margin-top: 10px;
}

body .page-sections .page-about .page-about-container .page-about-description .page-about-reasons {
  margin-top: 20px;
}

body .page-sections .page-about .page-about-container .page-about-description .page-about-reasons .reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.05rem;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
}

body .page-sections .page-about .page-about-container .page-about-description .page-about-reasons .reasons .icon {
  color: #3D59E8;
}

body .page-sections .page-about .page-about-container .page-about-description .page-about-reasons .reasons .test {
  margin-left: 20px;
}

body .page-sections .page-about .page-about-container .page-about-description .page-about-button button {
  background: #404F90;
  border: none;
  height: 40px;
  font-size: 1rem;
}

@media only screen and (max-width: 1100px) {
  body .header .header-Links {
    display: none;
  }
  body .header .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=index.css.map */